/* ===== 整個頁面的基本設定 ===== */
body {
  background-image: url("https://i.pinimg.com/1200x/0a/e0/76/0ae0761bbbdf96d66719cf76b5924bcb.jpg");
  font-family: Arial, sans-serif;
  text-align: center;
}

/* 中央白色卡片 */
.container {
  background-color: white;
  width: 60%;
  margin: 80px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 按鈕樣式 */
.Button-style {
  display: block;
  padding: 0.4em 0.66em;
  background: linear-gradient(to right, #ffecf5 50%, #fff 50%);
  background-size: 200% 100.5%;
  background-position: right bottom;
  font-family: "Montserrat", sans-serif;
  font-size: 1.05em;
  color: #020202;
  border: none;
  border-left: 0.2em solid #ffecf5;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease-out;
}

.Button-style:hover {
  background-position: left bottom;
  color: white;
}
